body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
}

button .file-input-label {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

#myCanvas {
  background-color: rgb(0, 198, 0);
}
